<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{css/searchpage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/view.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!--    <script type="text/javascript" th:src="@{js/logic.js}"></script>-->

</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>



<nav class="main-menu">



    <div>
        <a class="logo" href="http://startific.com"><i class="fa fa-search"></i>
        </a>
    </div>
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">

        <ul>

            <li>
                <a th:href="@{home}">
                    <i class="fa fa-home fa-lg">
                    </i>
                    <span class="nav-text">Home</span>
                </a>
            </li>

            <li>
                <a th:href="@{searchpage}">
                    <i class="fa fa-search fa-lg"></i>
                    <span class="nav-text">Login</span>
                </a>
            </li>


            <li>
                <a href="http://startific.com">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <span class="nav-text">Contact</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">Shopping</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-microphone fa-lg"></i>
                    <span class="nav-text">Film & Music</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-flask fa-lg"></i>
                    <span class="nav-text">Web Tools</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-picture-o fa-lg"></i>
                    <span class="nav-text">Art & Design</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-align-left fa-lg"></i>
                    <span class="nav-text">Magazine</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-gamepad fa-lg"></i>
                    <span class="nav-text">Games</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="http://startific.com">
                    <i class="fa fa-glass fa-lg"></i>
                    <span class="nav-text">Life & Style</span>
                </a>
            </li>

            <li class="darkerlishadowdown">
                <a href="http://startific.com">
                    <i class="fa fa-rocket fa-lg"></i>
                    <span class="nav-text">Fun</span>
                </a>
            </li>


        </ul>


        <li>

            <a href="http://startific.com">
                <i class="fa fa-question-circle fa-lg"></i>
                <span class="nav-text">Help</span>
            </a>
        </li>


        <ul class="logout">
            <li>
                <a href="http://startific.com">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                    <span class="nav-text">
                            BLOG
                        </span>

                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- parallax text/java -->

        <!-- text -->
<div class="container1">


    <input type="text" id="searchInput" placeholder="Search by book title..." />
<!--    //<ol id="searchResults" class="image-list list-view"></ol>-->



    <div class="search"></div>
    <ol class="image-list list-view">


    </ol>
    <div id="searchResultsContainer" class="search-results-container">
        <ol id="searchResults" class="image-list list-view search-results-list"></ol>
    </div>

</div>
<script>





    //search option


    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('searchInput');
        var searchResultsContainer = document.getElementById('searchResultsContainer');
        var searchResults = document.getElementById('searchResults');

        searchInput.addEventListener('input', function () {
            var searchText = searchInput.value.trim();

            if (searchText !== '') {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/books/search?title=' + encodeURIComponent(searchText), true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        var books = JSON.parse(xhr.responseText);
                        showSearchResults(books);
                    }
                };

                xhr.send();
            } else {
                hideSearchResults();
            }
        });

        function showSearchResults(books) {
            // Clear previous search results
            searchResults.innerHTML = '';

            // Add new search results
            if (books.length > 0) {
                var ol = document.createElement('ol');
                ol.classList.add('search-results-list');
                ol.classList.add('image-list');
                ol.classList.add('list-view');

                books.forEach(function (book) {
                    var li = document.createElement('li');
                    li.innerHTML = '<figure>' +
                        '<img class="book-image" src="nature1.jpg" alt="">' +
                        '<figcaption>' +

                        '<p>' + book.title + '</p>' +
                        '<p>Written By ' + book.author + '</p>' +
                        '<p>#' + book.isbn + '</p>' +
                        '<p>' + book.status + '</p>' +
                        '</figcaption>' +
                        '</figure>';

                    ol.appendChild(li);
                });

                searchResults.appendChild(ol);
                searchResultsContainer.classList.add('show');
            } else {
                hideSearchResults();
            }
        }

        function hideSearchResults() {
            searchResultsContainer.classList.remove('show');
        }
    });

</script>

</body>
</html>
